# Fichiers de compilation LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*.lof
*.lot
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.dvi
*.pdf

# Fichiers personnels
/aprepare.md
/preparation_entretien_florence_loic_mbassi.pdf
/preparation_entretien_florence_loic_mbassi.tex
/prep_entretien_air_france.pdf
/prep_entretien_air_france.tex
/releve_notes_complet_edf.tex
/releve_notes_edf.pdf
/releve_notes_poly_yaounde.pdf
/Relevé Niveau 2024-2025  Loic Aron Mbassi.pdf
/signature.png
/temp.md
